@include font("CodecPro-Bold", "CodecPro-Bold", "400", "normal");
@include font("CodecPro-News", "CodecPro-News", "400", "normal");
@include font("Gilroy-Black", "Gilroy-Black", "400", "normal");
@include font("CodecPro-ExtraBold", "CodecPro-ExtraBold", "400", "normal");
@include font("Gilroy-Bold", "Gilroy-Bold", "400", "normal");
@include font("Gilroy-ExtraBold", "Gilroy-ExtraBold", "400", "normal");
@include font("Gilroy-Heavy", "Gilroy-Heavy", "400", "normal");
@include font("Gilroy-Light", "Gilroy-Light", "400", "normal");
@include font("Gilroy-Medium", "Gilroy-Medium", "400", "normal");
@include font("Gilroy-Regular", "Gilroy-Regular", "400", "normal");
@include font("Gilroy-SemiBold", "Gilroy-SemiBold", "400", "normal");
@include font("Gilroy-Thin", "Gilroy-Thin", "400", "normal");
@include font("Gilroy-UltraLight", "Gilroy-UltraLight", "400", "normal");
@include font("PTRootUI-Bold", "PTRootUI-Bold", "400", "normal");
@include font("PTRootUI-Light", "PTRootUI-Light", "400", "normal");
@include font("PTRootUI-Medium", "PTRootUI-Medium", "400", "normal");
@include font("PTRootUI-Regular", "PTRootUI-Regular", "400", "normal");
